a {
	text-decoration: none;
}

nav > a {
	color: cornflowerblue;
	font-size: 16px;
	line-height: 20px;
}

.header {
	color: #222222;
	font-size: 28px;
	line-height: 36px;
	font-weight: bold;
}

.subheader {
	color: coral;
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 80px;
}

.par {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #7D7987;
}
