@font-face {
  font-family: lato;
  src: url('fonts/Lato-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  margin: 0 auto;
  max-width: 1600px;
}

.center {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
}

img {
  display: block;
}

.pinky {
  color: #F16D7F;
}

.pinky-bg {
  background-color: #F7E4E2;
}

.header {
  height: 75px;
  background-color: #222;
}

.header .menu {
  overflow: hidden;
  height: 75px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}

.header .menu .logo-and-lupa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header .menu .logo-and-lupa .logo {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
}

.header .menu .logo-and-lupa button {
  background: none;
  border: 0;
}

.header .menu .logo-and-lupa button .search {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.header .menu .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.header .menu .buttons button {
  background: none;
  border: 0;
}

.header .menu .buttons img {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.banner {
  max-height: 768px;
  min-height: 364px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.banner .left {
  float: left;
  align-items: center;
  display: flex;
}

.banner .left img {
  width: 100%;
}

.banner .right {
  float: right;
  align-items: center;
  display: flex;
}

.banner .right .brand {
  border-left: 16px solid #F16D7F;
  margin-left: 64px;
  padding-left: 16px;
}

.banner .right .brand .title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}

.banner .right .brand .subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}

.categories {
  margin-top: 64px;
  margin-bottom: 96px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 32px;
  overflow: hidden;
}

.categories .category {
  position: relative;
  overflow: hidden;
}

.categories .category img {
  width: 100%;
}

.categories .category.widely {
  grid-column: span 3;
}

.categories .category .filter {
  background-color: rgba(33, 22, 22, 0.70);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.categories .category .filter .text .name {
  text-align: center;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.categories .category .filter .text .comment {
  color: #FFF;
  text-align: center;
  font-size: 16px;
}

.showcase {
  margin-bottom: 48px;
}

.showcase .caption {
  color: #222;
  font-size: 30px;
  text-align: center;
}

.showcase .subcaption {
  color: #9F9F9F;
  font-size: 14px;
  text-align: center;
}

.showcase .goods {
  margin-top: 48px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.showcase .goods .product img {
  min-height: 420px;
  margin: 0 auto;
  max-width: 100%;
}

.showcase .goods .product .content {
  background-color: #F8F8F8;
  padding: 24px;
}

.showcase .goods .product .content .name {
  color: #000;
  font-size: 13px;
}

.showcase .goods .product .content .description {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300; 
  margin: 16px 0;
}

.showcase .goods .product .content .price {
  font-size: 16px; 
}

.showcase .more {
  width: 212px;
  height: 48px;
  border: 1px solid #F16D7F;
  display: flex;
  align-items: center;
  justify-content: center;
}
